.alert {
  margin-top: 10px;
  margin: 0;
  position: absolute;
  top: 60%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: larger;
}

.btn {
  margin-top: 10px;
  margin: 0;
  position: absolute;
  top: 45%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.roboger {
  width: 30%;
  margin: 0;
  position: absolute;
  top: 35%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: large;
}

h1 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 70px;
  color: rgb(89, 0, 18);
}